body {
    margin: 0px;
    text-align: center;
    background-color: gray;
}
#title {
    color: white;
    background-color: rgb(175, 131, 131);
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-size: xx-large;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: gray;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 85vh;
    width: 85vh;
    outline: 1px solid blue;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    flex: 1 1 0;
}

.cell {
    flex: 1 1 0;
}


#options {

}

/* DEBUG */
#container .cell {
    outline: 1px solid black;
}